<style>
    #drbmd{
        position: relative;
    }
    #drbmd .use{
        position: relative;
        top: -45px;
        left: 13px;
    }
    #drbmd .baimingdan{
        position: absolute;
        left: 350px;
        top: 1px;
    }

    .layui-form-label{
        width:110px !important;
        padding:8px 15px;
        height:38px !important;
        line-height:20px;
        border-width:1px;
        border-style:solid;
        border-radius:2px 0 0 2px;
        text-align:center;
        background-color:#FBFBFB;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        box-sizing:border-box;
        border-color: #e6e6e6;
    }

</style>

{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <!--最上面横线部分-->
    <!--<fieldset class="layui-elem-field layui-field-title">-->
        <!--<legend>{$title}</legend>-->
    <!--</fieldset>-->


    <form class="layui-form layui-form-pane" enctype="multipart/form-data" action="{:url('channel/edit')}" method="post">

        <input type="hidden" name="pid" value="{$info.id}">

        <div class="layui-form-item">
            <label class="layui-form-label">门户名称</label>
            <div class="layui-input-4">
                <input type="text" name="g_name" value="{$info.channel_name}" ng-model="field.name" lay-verify="required" placeholder="{:lang('pleaseEnter')}频道名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">门户简介</label>
            <div class="layui-input-4">
                <input type="text" name="g_introduction" value="{$info.channel_name}" ng-model="field.name" lay-verify="required" placeholder="{:lang('pleaseEnter')}频道名称" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">封面图片</label>
            <input type="hidden" name="channel_logo" id="pic" value="{{field.pic}}">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <input type="file" name="g_img">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">封面链接</label>
            <div class="layui-input-4">
                <input type="text" name="g_imgurl" value="{$info.channel_name}" ng-model="field.name" lay-verify="required" placeholder="{:lang('pleaseEnter')}频道名称" class="layui-input">
            </div>
        </div>





        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>


</div>
{include file="common/foot"/}
<script src="__STATIC__/common/js/angular.min.js"></script>
<script src="__STATIC__/admin/js/jquery.min.js"></script>
<script>

    function ischeck(){
        var isChecked = $('#cb').is(":checked");
        if(isChecked == true){
            $("#yzmdiv").css("display","none");  //隐藏验证码
        }else if(isChecked == false){
            $("#yzmdiv").css("display","block");  //显示验证码
        }
    }





</script>


