
<nav class="HomeNav">
        <div class="container">
            <h1 class="clearfix">
                <a class="float-L" href="javascript:window.history.go(-1);">
                    <span class="icon iconfont icon-fanhui"></span>
                </a>
                <span class="title">{$form_title}</span>
            </h1>

        </div>
    </nav>
    <div class="menu">
        <div class="container content">
            <div ><a href="#"><span>比赛报名平台</span></a></div>
            <div class="menuRight"><a href="#"><span class="icon iconfont icon-xuanxiang"></span></a></div>
        </div>
    </div>
    <div class="show">
			<div onClick="javascript:window.location.href='{:url(\'user/userorder\')}';">我的订单</div>
<!--			<div>审核进度</div>
			<div>退出</div>-->
		</div>