{extend name="common/base"}
   {block name="style"}
    <link rel="stylesheet" type="text/css" href="__MOBILE__/css/style.css">
 <style type="text/css">
		.personal{
			height:120px;
			line-height: 120px;
		}
		ol{
			display: -webkit-flex;
			display: flex;
		}
		ol li{
			flex:1;
			text-align: center;
			font-size: 30px;
		}
		ol li span{color:reb(51,51,51);}
		ol li.active>span{display:inline-block;padding:0 0;color:red;border-bottom:4px solid red;}
		.content>div{
			font-size:30px;
		}
		ul li{display: none;}
		ul li.active{display: block;}
		.information .order{
			line-height: 120px;
		}

		
		.information .order-val{font-size:30px;}
		.information .order-val span{font-size: 30px;}
		.gray span{color:#ddd;}
		.information .examinee-info{color:#333333;}
		.order-info{border-bottom:1px solid rgb(213,213,213);}
		.pay{
			display: inline-block;
			width:140px;
			height:58px;
			line-height: 58px;
			text-align: center;
			margin:0 2px;
			background:rgb(229,229,229);
		}
		.pay.active{
			background:rgb(58,54,51);
			color:#fff;
		}
		.bottom{height:200px;}
		
	</style>
   {/block}

{block name="content"} 
	<div class="mian">
		<div class="personal">
		<ol>
			<li class="active"><span>全部</span></li>
			<li ><span >未支付</span></li>
			<li ><span>已完成</span></li>
		</ol>
	</div>
	<!-- 确认订单 -->
	<div class="gap-gap"></div>
	<div>
		<ul>
			<li class="active">
                            {foreach name="order" item="od"}
                                 {assign name="ordertype" value="$od.order_type" /}
				<div class="information">
					<div class="order border-bottom-solid">
						<div class="examinee-info">订单编号：{$od.order_no}</div>
						<div class="order-val"><span>{if condition="$od.state eq 1"}已完成{else/}未支付{/if}</span></div>
					</div>
					<div class="order-info">
						<div class="examinee-info">类型</div>
                                                {clt:info db='order_type' id='info' where=" id = $ordertype"}
						<div class="order-info-val">{$info.name}</div>
                                                {/clt:info}
					</div>
                                     {if condition="$od.order_type eq 3"}
                                    <div class="order-info">
						<div class="examinee-info">演奏类型</div>
						<div class="order-info-val">{$od.order_data.more.yqtitle}</div>
					</div>
                                    <div class="order-info">
						<div class="examinee-info">级别</div>
						<div class="order-info-val">{$od.order_data.more.leveltitle}</div>
					</div>
                                    <div class="order-info">
						<div class="examinee-info">组别</div>
						<div class="order-info-val">{$od.order_data.more.teamtitle}</div>
					</div>
                                     {/if}
					<div class="order-info">
						<div class="examinee-info">姓名</div>
						<div class="order-info-val">{$od.order_data.data.name}</div>
					</div>
					<div class="order-info">
						<div class="examinee-info">提交时间</div>
						<div class="order-info-val">{$od.addtime|date="Y-m-d",###}</div>
					</div>
					<div class="order-info bottom">
						<div class="examinee-info"></div>
						<div class="order-info-val gray" style="font-size: 46px;"><span>支付费用:</span>￥{$od.order_money}</div>
                                                {if condition="$od.state eq 0"}
                                                     <div class="">
							<div class="order-info-val ">
                                                            <div class="pay active payonclick" data-no="{$od.order_no}">支付</div>
								<div class="pay">取消</div>
							</div>
						    </div>
                                                {/if}
					</div>
				</div>
				<div class="gap-gap"></div>
                                {/foreach}
				
                             <div style="height:150px;">
						
					</div>
				
			</li>
			<li>
				{foreach name="noarr" item="od"}
                                 {assign name="ordertype" value="$od.order_type" /}
				<div class="information">
					<div class="order border-bottom-solid">
						<div class="examinee-info">订单编号：{$od.order_no}</div>
						<div class="order-val"><span>{if condition="$od.state eq 1"}已完成{else/}未支付{/if}</span></div>
					</div>
					<div class="order-info">
						<div class="examinee-info">类型</div>
                                                {clt:info db='order_type' id='info' where=" id = $ordertype"}
						<div class="order-info-val">{$info.name}</div>
                                                {/clt:info}
					</div>
                                     {if condition="$od.order_type eq 3"}
                                    <div class="order-info">
						<div class="examinee-info">演奏类型</div>
						<div class="order-info-val">{$od.order_data.more.yqtitle}</div>
					</div>
                                    <div class="order-info">
						<div class="examinee-info">级别</div>
						<div class="order-info-val">{$od.order_data.more.leveltitle}</div>
					</div>
                                    <div class="order-info">
						<div class="examinee-info">组别</div>
						<div class="order-info-val">{$od.order_data.more.teamtitle}</div>
					</div>
                                     {/if}
					<div class="order-info">
						<div class="examinee-info">姓名</div>
						<div class="order-info-val">{$od.order_data.data.name}</div>
					</div>
					<div class="order-info">
						<div class="examinee-info">提交时间</div>
						<div class="order-info-val">{$od.addtime|date="Y-m-d",###}</div>
					</div>
					<div class="order-info bottom">
						<div class="examinee-info"></div>
						<div class="order-info-val gray" style="font-size:46px;" ><span>支付费用:</span>￥{$od.order_money}</div>
                                                {if condition="$od.state eq 0"}
                                                     <div class="">
							<div class="order-info-val ">
								<div class="pay active payonclick" data-no="{$od.order_no}">支付</div>
								<div class="pay">取消</div>
							</div>
						    </div>
                                                {/if}
					</div>
				</div>
				<div class="gap-gap"></div>
                                {/foreach}
				
                             <div style="height:150px;">
						
					</div>
			</li>
			<li>
				{foreach name="yesarr" item="od"}
                                 {assign name="ordertype" value="$od.order_type" /}
				<div class="information">
					<div class="order border-bottom-solid">
						<div class="examinee-info">订单编号：{$od.order_no}</div>
						<div class="order-val"><span>{if condition="$od.state eq 1"}已完成{else/}未支付{/if}</span></div>
					</div>
					<div class="order-info">
						<div class="examinee-info">类型</div>
                                                {clt:info db='order_type' id='info' where=" id = $ordertype"}
						<div class="order-info-val">{$info.name}</div>
                                                {/clt:info}
					</div>
                                    {if condition="$od.order_type eq 3"}
                                    <div class="order-info">
						<div class="examinee-info">演奏类型</div>
						<div class="order-info-val">{$od.order_data.more.yqtitle}</div>
					</div>
                                    <div class="order-info">
						<div class="examinee-info">级别</div>
						<div class="order-info-val">{$od.order_data.more.leveltitle}</div>
					</div>
                                    <div class="order-info">
						<div class="examinee-info">组别</div>
						<div class="order-info-val">{$od.order_data.more.teamtitle}</div>
					</div>
                                    {/if}
					<div class="order-info">
						<div class="examinee-info">姓名</div>
						<div class="order-info-val">{$od.order_data.data.name}</div>
					</div>
					<div class="order-info">
						<div class="examinee-info">提交时间</div>
						<div class="order-info-val">{$od.addtime|date="Y-m-d",###}</div>
					</div>
					<div class="order-info bottom">
						<div class="examinee-info"></div>
						<div class="order-info-val gray" style="font-size:46px;"><span>支付费用:</span>￥{$od.order_money}</div>
                                               
					</div>
				</div>
				<div class="gap-gap"></div>
                                {/foreach}
				
                             <div style="height:150px;">
						
					</div>
			</li>
		</ul>
	</div>
	</div>
        {/block}
	
	{block name="js"}
	<script type="text/javascript">
		var $Oli = $("ol li");
		$Oli.click(function(){
			var index=$(this).index();
			$(this).addClass('active').siblings().removeClass('active');
			$(this).parents('.mian').find('ul li').eq(index).addClass('active').siblings().removeClass('active');
			
		});
                $(".payonclick").click(function(e){
                    var order_no=$(this).attr('data-no');
                     $.ajax({
			url:"{:url('saveorderno')}",
			data:{order_no:order_no},
			dataType:'json',
			type:'post',
                        async: false,
			success:function(re){
                            
				window.location.href="{:url('pay/paylist/index',['id'=>1])}";
                                
			}
		   })
                });
                
		
	</script>
        {/block}
</body>
</html>