<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title>LayIM移动版测试</title>
<link rel="stylesheet" href="__PC__/layim/src/css/layui.mobile.css" media="all">
<style type="text/css">
  body .layim-title{display: none;}
  body .layim-chat-main, body .layim-content, body .layui-layim{top: 0}
</style>
</head>
<body>
<script src="__PC__/layim/src/layui.js"></script>
<script>


    var chat_init = {$return_json};




    //循环取出群组信息
    for(var key in chat_init) {
        for (var k in chat_init) {
            //群组id
            var cid = chat_init['group']['id'];
        }
    }

    layui.use('mobile', function(){
        var mobile = layui.mobile
            //初始化配置
            ,layim = mobile.layim
            ,layer = mobile.layer;
        layim.config({

            //初始用户数据
            init: chat_init,
            isgroup: true, //是否开启“群聊”
			voice: false //是否开启消息提醒声音
        });

        window.logdata = {$chatlogs};

        //创建群聊
        layim.chat({
            id: cid    //群聊id
            ,name: ''   //群聊name
            ,type: 'group' //friend、group等字符，如果是group，则创建的是群聊
            ,avatar: ''    //群聊头像
            ,ceshi:'测试',
        });


        //建立WebSocket通讯
        /*var socket = new WebSocket('ws://121.42.207.83:8283');
        * var socket = new WebSocket('ws://127.0.0.1:8282');
        * */
        var socket = new WebSocket('ws://121.42.207.83:8283');

        //连接成功时触发
        socket.onopen = function(){
            var login_data = '{"type":"init","data":{"cid":'+cid+'}}';
            socket.send(login_data);
            //layer.msg('连接成功');

            //极限测试
            // for(var i=1;i<=5; i++){
                //var csjx = '{"type":"chatMessage","data":{"mine":{"username":"上海网友","avatar":"https://static.mudu.tv/index/avatar.png","id":1564219812,"mine":true,"content":"123"}, "to":{"id":"85","name":"","type":"group","avatar":"","ceshi":"测试"}}}';
                //socket.send(csjx);
            // }

        };




        //监听发送消息
        layim.on('sendMessage', function(data){

            // //ajax 接口
            // ( 查询禁言表，根据这个直播间id和当前登录用户的id，查到的话，return  2 )
            //data.mine.jinyan=2;

            var mine = JSON.stringify(data.mine);


            var to = JSON.stringify(data.to);

            //var text = "测试";


            var login_data = '{"type":"chatMessage","data":{"mine":'+mine+', "to":'+to+'}}';



            socket.send(login_data);
        });

        //监听收到的消息
        socket.onmessage = function(res){


            var data = eval("("+res.data+")");
            switch(data['message_type']){
                // 服务端ping客户端
                case 'ping':

                    socket.send('{"type":"ping","groupid":"'+window.groupid+'"}');
                    break;
                // 在线
                case 'online':
                    layim.setFriendStatus(data.id, 'online');
                    break;
                // 离线短信
                case 'sendmsg':
                    $.ajax({
                        url:"{:url('Phone/sendMsg')}",
                        type:"post",
                        data:{data:JSON.stringify(data.data)},
                        success:function(){

                        }
                    });
                    break;
                // 下线
                case 'offline':
                    layim.setFriendStatus(data.id, 'offline');
                    break;
                // 检测聊天数据
                case 'chatMessage':
                    //console.log(data.data.ctype);
                    var type = data.data.ctype; //1审核    2不审核
                   if(type != 1){  //不需要审核
                       layim.getMessage(data.data);
                   }
                    break;

                // 检测数据
                case 'chatexamine':
                        layim.getMessage(data.data);

                    break;

                // 离线消息推送
                case 'logMessage':
                    setTimeout(function(){layim.getMessage(data.data)}, 1000);
                    break;
                // 用户退出 更新用户列表
                case 'logout':
                    layim.setFriendStatus(data.id, 'offline');
                    break;
            }
        };
    });

</script>
</body>
</html>