<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$pinfo.pname}</title>
    <link rel="stylesheet" href="__PC__/paylive/mobile.css">
</head>
<body>
<!--灰色背景-->




<div class="fixBg" >

    <!--内容部分-->
    <!--付费界面-->
    <form id="wxpayform" action="pay/paylist/save_order" method="post">
        <input type="hidden" name="id" value="1"/>
        <input type="hidden" name="cid" value="{$cid}"/>
        <input type="hidden" name="pid" value="{$pinfo.id}"/>
        <input type="hidden" name="pend" value="2"/>

    <div class="pay">
        <div class="pay_wrap">
            <div class="title">{$pinfo.pname}</div>
            <div class="content">
                <p class="price-wrap">
                    <span>¥</span>
                    <span class="price">{$pinfo.pprice}</span>
                </p>
                <p class="pay-tip widthen">手机号作为您付费后进入直播间的凭证</p>
                <input type="text" maxlength="11" name="phone" placeholder="请输入你的手机号" class="payInput">
                <span class="btn payBtn">付费观看</span>
                <div class="pay-money-status">
                    <span>我已付费，</span>
                    <span class="login-btn">登录</span>
                    <span>观看</span>
                </div>
            </div>
            <p class="verify-time">观看截止时间：2020-02-06 10:50:43</p>
        </div>
    </div>

    </form>
    <!--登录界面-->
    <div class="authorized-wrap">
        <div class="auth-code-wrap">
            <div class="title">
                {$pinfo.pname}
            </div>
            <div class="content">
                <input maxlength="11" type="text" placeholder="请输入你的手机号" class="loginInput"/>
                <span class="btn loginBtn">立即观看</span>

                <div class="pay-money-status">
                    <span>未付费，返回</span>
                    <span class="login-btn1">付费</span>
                    <span>界面</span>
                </div>
            </div>
            <p class="verify-time">{$jsApiParameters}观看截止时间：{$pinfo.pend_time} 23:59:59</p>
        </div>
    </div>

</div>


<script src="__PC__/paylive/jquery.min.js"></script>
<script src="__PC__/paylive/layui/layui.all.js"></script>
<script>
    // 验证手机号
    $(".payBtn").click(function(){      //  付费页面
        var $phone = $(".payInput").val();
        var reg = /^1([38]\d|5[0-35-9]|7[3678])\d{8}$/;
        if($phone == ""){
            layer.msg("手机号不能为空");
            return false;
        }else if(!reg.test($phone)){
            layer.msg("手机号格式错误");
            return false;
        }else{
            var cid = "{$cid}";   //频道id
            var phone = $(".payInput").val();  //支付时手机号
            $.ajax({
                type:"post",
                url:"{:url('home/index/pcpayphone')}",
                dataType:"json",
                data:{cid:cid,phone:phone},
                success:function(data){
                    if(data == 2){
                        $("#wxpayform").submit();
                    }else if(data == 1){
                        layer.msg("已支付过");
                        return false;
                    }
                }
            });

        }
    });

    $(".loginBtn").click(function(){      //  登录页面
        var $phone = $(".loginInput").val();
        var reg = /^1([38]\d|5[0-35-9]|7[3678])\d{8}$/;
        if($phone == ""){
            layer.msg("手机号不能为空");
            return false;
        }else if(!reg.test($phone)){
            layer.msg("手机号格式错误");
            return false;
        }else{
            var cid = "{$cid}";   //频道id
            var phone = $(".loginInput").val();  //支付时手机号
            $.ajax({
                type:"post",
                url:"{:url('home/index/pcpayisphone')}",
                dataType:"json",
                data:{cid:cid,phone:phone},
                success:function(data){
                    if(data == 2){
                        layer.msg("该手机号未支付");
                    }else if(data == 1){
                        window.location.href='{:url("home/chatmobile/index")}?ad_id='+cid;
                    }
                }
            });
        }
    });


    $(".login-btn").click(function(){   //  点击切换
        $(".pay").hide();
        $(".authorized-wrap").show();
    });

    $(".login-btn1").click(function(){   //  点击切换
        $(".pay").show();
        $(".authorized-wrap").hide();
    });



</script>



</body>
</html>